$InputWidth: 21rem;
$InpuHeight: 3rem;
$InputRadius: 5px;
$borderColor: rgb(219, 218, 218);
$paraColor: rgb(186, 181, 181);
$optinalURL: rgb(213, 211, 211);
$fontSize: 0.9rem;
$inputFiledargin: 0.5rem;
$font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fontWeight: 200;
// $btnColor: #6666ff;
$btnColor: #2ab1d0;
$heighPlanningBox: 13rem;
$widthPlanningBox: 23rem;
