.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputFrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.welcomeHeading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}

.paraWelcome {
  color: #bab5b5;
}

.inputFiled {
  width: 21rem;
  height: 3rem;
  border-style: solid;
  border-radius: 5px;
  border-color: whitesmoke;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.labelName {
  margin-top: 0.2rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #6c6c6c;
}

.submitButton {
  background-color: #6666ff;
  border: none;
  border-radius: 5px;
  color: white;
  width: 21.9rem;
  padding: 0.8rem;
  margin-top: 1.4rem;
}

.workSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3rem;
  width: 21rem;
  margin-top: 2rem;
}

.workSpace .workSpaceEx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.workSpace .inputWorkSpace {
  height: 3rem;
  width: 21rem;
  padding: 0.5rem;
  border-radius: 2px;
}

.optional {
  color: #d5d3d3;
}

.plaaningPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.useOfEden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 13rem;
  width: 23rem;
  margin: 0.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forMyself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 1rem;
  height: 11.5rem;
  width: 10.25rem;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
}

.forMyself:hover {
  border-color: #8c8cff;
}

.forTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 1rem;
  height: 11.5rem;
  width: 10.25rem;
  border: 1px solid #b4b2b2;
  border-radius: 5px;
}

.forTeam:hover {
  border-color: #8c8cff;
}

.imgUser {
  height: 2rem;
  width: 2rem;
  margin-bottom: 1rem;
}

.para {
  color: #888686;
  font-family: Arial, Helvetica, sans-serif;
}

.lastPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.confirmPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  width: 25rem;
}

.confirmImg {
  width: 10rem;
  height: 7rem;
  margin: 1rem;
}
/*# sourceMappingURL=App.css.map */